<div id="adList">
  <div>
    <div class="slideshow-container" data-id="{{this._id}}">
        {{#each this.images }}
            <div class="mySlides fade" data-index="{{@index}}">
                <img src="/uploads/picturesAd/{{this}}" class="slide">
            </div>
        {{/each}}
        <a class="prev" onclick="minusSlides('{{this._id}}')">&#10094;</a>
        <a class="next" onclick="plusSlides('{{this._id}}')">&#10095;</a>
    </div>
    
  </div>
  <div class="ad-info">
    <h3>{{this.title}}</h3>
    <h4>{{this.price}}€</h4>
    <p>{{this.city}}</p>
    <div class ="summary-info">
      <p><img src="/images/icons/area.png"> {{this.parameters.square_meters}} m²</p>
      <p><img src="/images/icons/ruler.png"> {{this.parameters.flat_status}}º piso</p>
      <p><img src="/images/icons/bed.png"> {{this.parameters.rooms}}hab.</p>
      <p><img src="/images/icons/shower.png"> {{this.parameters.bathrooms}} bañ.</p>
    </div>
    {{!-- <p>{{this.description}}</p> --}}
    <div class="button-ad">
      <a class="button" href="/ad/{{this._id}}" class="button">Ver piso</a>
    </div>
  </div>
</div>
