{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/stylesheets/ad/view.css" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
{{/extend}}
<div>
  <div class="slideshow-container">
    {{#each this.images }}
    <div class="mySlides fade">
      <img src="/uploads/picturesAd/{{this}}" class="slide">
    </div>
    {{/each}}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <h3>{{this.title}}</h3>
  <h4>{{this.price}}€</h4>
  <p>{{this.city}}</p>
  <div class ="summary-info">
    <p>{{this.parameters.square_meters}} m² <img src="/images/icons/area.png"></p>
    <p>{{this.parameters.flat_status}}º piso<img src="/images/icons/ruler.png"></p>
    <p>2 hab.<img src="/images/icons/bed.png"></p>
    <p>1 bañ.<img src="/images/icons/shower.png"></p>
  </div>
  <p>{{this.description}}</p>
  <a href="/ad/{{this._id}}" class="button">Ver piso</a>
</div>
<script>
  var slideIndex = 0;
  showSlides();
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    if (slideIndex >= slides.length) {
      slideIndex = 0;
    }
    if (slideIndex < 0) {
      slideIndex = slides.length - 1;
    }
    slides[slideIndex].style.display = "block";
  }
  function plusSlides(n) {
    slideIndex += n;
    showSlides();
  }
</script>