<div id="adList">
  <div>
    <div class="slideshow-container" data-id="{{this._id}}">
        {{#each this.images }}
            <div class="mySlides fade" data-index="{{@index}}">
                <img src="/uploads/picturesAd/{{this}}" class="slide">
            </div>
        {{/each}}
        <a class="prev" onclick="minusSlides('{{this._id}}')">&#10094;</a>
        <a class="next" onclick="plusSlides('{{this._id}}')">&#10095;</a>
    </div>
    
  </div>
  <a class="ad-info" href="/ad/{{this._id}}">
    <h3>{{this.title}}</h3>
    <h4>{{this.price}}€</h4>
      {{{fairPricePercent this.fairPrice this.price}}}
    <p>{{this.neighborhood}}, {{this.city}}</p>
    <div class ="summary-info">
      <p><img src="/images/icons/area.png"> {{this.parameters.square_meters}} m²</p>
      <p><img src="/images/icons/bed.png"> {{this.parameters.rooms}}hab.</p>
      <p><img src="/images/icons/shower.png"> {{this.parameters.bathrooms}} bañ.</p>
    </div>
  </a>
</div>
