{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/appointments/list.css"/>
{{/extend}}
<div id="root">
    <h1>Mis citas</h1>
    {{#ifEq appointments.length 0}}
        <p>En estos momentos no tienes citas activas</p>
    {{else}}
        <div id="appointments">
            {{#each appointments}}
                <a id="appointment" href="/appointment/view/{{this.id}}">
                    <h2>Cita con {{#ifEq ../currentUser._id
                                         this.lesser._id }}{{this.lessor.name}}{{else}}{{this.lesser.name}}{{/ifEq}}  </h2>
                    <p><img src="/images/icons/pin-grey.png" class="icon icon-2"> {{this.ad.address}} {{this.ad.number}}, {{this.ad.city}}</p>
                    <p><img src="/images/icons/minute.png" class="icon"> {{formatDate this.date}} {{formatHours this.date}}h</p>
                    <p class="status {{#ifEq this.status 'Activa'}}active{{else}}canceled{{/ifEq}} ">{{this.status}}</p>
                </a>
            {{/each}}
        </div>
    {{/ifEq}}
</div>